extends layout
    
block content
    .notebooks-hero
        h2.notebook-title Notebooks
        .notes-container
            each notebook in notebooks
                a(href=`/notebooks/${notebook.id}/`).note-block
                    h3 #{notebook.title}
                    p #{notebook.description}
        a.create-notebook-link(href="/notebooks/create") 
            button.default + New Notebook

