extends layout
    
block content
    h2 Dynamic content
    p The library has the following record counts:
    ul.dynamic-content-list 
        li 
            span Notes:
            |  5
        li 
            span Notebooks:
            |  10

