extends layout
    
block content
    .notebooks-hero
        h2.notebook-title Notebooks
        .notes-container
            each notebook in notebooks
                a(href=`/notebooks/${notebook._id}/`).note-block
                    h3 #{notebook.name}
                    p #{notebook.desc}
        button.create-notebook + New Notebook

