extends layout
    
block content
    if errors
        include partials/validation_error.pug
    form.notebook-form(method="POST" action="")
        .title-input
            label(for="title") Title
            input#title(
                required 
                name="title" 
                value=(notebook ? notebook.title : "")
                minlength="5" maxlength="50")
        .desc-input
            label(for="description") Description
            textarea#description(name="description" maxlength="250")=(notebook ? notebook.description : "")
        button.default(type="submit") Submit

