extends layout

block scripts
    script(src="/javascripts/notebook_list.js" defer)
    
block content
    h2.notebook-title Notes of 
        i=notebook.title
    .notebook-options
        button.delete-notebook
            i(data-feather="trash-2")
            | Delete  
        button.update-notebook 
            a(href=`/notebooks/${notebook.id}/update/`)
                i(data-feather="edit-3")
                | Edit
    .notes-container
        each note in notes
            a(href="/notebooks/notebook/notes/note").note-block
                h3=note.title
                p=note.content
    include partials/modal_delete_notebook.pug
