.notebooks-hero {
    display: flex;
    flex-flow: column;
    gap: 20px;

}

.notebook-title {
    margin-top: 15px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

a.create-notebook-link {
    display: inline-block;
}

button.default {
    background: black;
    border: 2px solid var(--main-bluey);
    color: inherit;
    font-family: inherit;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 8px;
    align-self: flex-start;
    transition: background-color .2s ease-in;
}

button.default:hover {
    background-color: var(--main-bluey);
    cursor: pointer;
}

.note-block {
    display: flex;
    flex-flow: column;
    gap: 5px;
    background: var(--dark-gray); 
    border: transparent 3px solid; 
    padding: 13px;
    border-radius: 8px;
    font-size: .8rem;
    transition: border .2s;
}

.note-block:hover {
    border: 3px solid var(--main-bluey);
}

.note-block h3 {
    font-size: 1.1rem;
}

.note-block p {
    color: rgb(255, 255, 255, .6);
}
