/* IMPORT AND SET-UPING*/

@import "./notebook_list.css";
@import "./note_edit.css";
@import "./notebook_form.css";
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

:root {
    --dft-padding: 10px;
    --main-bluey: RGB(100, 150, 220);
    --dark-gray: RGB(44, 44, 56);
    --light-black: RGB(33, 33, 45);
    --white: RGB(255, 255, 255);
    --border-gray: RGB(54, 54, 66);
    --icon-gray: RGB(133, 146, 165);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* STYLE WITH NO PARTICULAR ORGANIZATION */

body {
    font-family: "Reddit Mono";
    color: var(--white);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
}

header, nav, main, footer {
    padding: var(--dft-padding);
}

header {
    background-color: var(--dark-gray);
    grid-column: 2 / 3;
    border-bottom: 1px solid var(--border-gray);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

h1 {
    font-size: 2rem; 
    text-decoration: underline var(--main-bluey) 4px;
    text-underline-offset: 7px;
}

nav {
    background-color: var(--dark-gray);
    grid-row: 1 / -1;
    border-right: 1px solid var(--border-gray);
    display: flex;
    flex-flow: column;
    padding: 25px 15px;
    gap: 35px;
}

nav .title {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .title svg {
    width: 30px;
    height: 30px;
    color: var(--main-bluey);
}

nav .menu {
    display: flex;
    flex-flow: column;
    color: rgba(255, 255, 255, .6);
} 

nav .menu > div {
    margin-bottom: 20px;
}

nav .menu > h3 {
    font-weight: normal;
    padding: 3px 0;
    font-size: 1.1rem;
}

nav .menu > h3:hover {
    text-decoration: underline 2px rgba(255, 255, 255, .6);
    text-underline-offset: 3px;
}

.all-notes {
    margin-bottom: 15px;
}

.recent-notebooks h3, .recent-notes h3 {
    margin-bottom: 20px;
}

nav .menu ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

nav .menu ul li {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

nav .menu ul li:hover {
    font-weight: bold;
}

main {
    background-color: var(--light-black);
    padding: 0 30px;
}

input, textarea {
    background: rgb(0, 0, 0, .5);
    border-radius: 8px;
    border: 2px solid var(--border-gray);
    padding: 10px 15px;
    color: inherit;
    font-family: inherit;
    outline: none;
}

button.default {
    background: black;
    border: 2px solid var(--main-bluey);
    color: inherit;
    font-family: inherit;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 8px;
    align-self: flex-start;
    transition: background-color .2s ease-in;
}

button.default:hover {
    background-color: var(--main-bluey);
    cursor: pointer;
}
